<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.ares.mia</string>
  <key>CFBundleDisplayName</key>
  <string>mia</string>
  <key>CFBundleExecutable</key>
  <string>mia</string>
  <key>CFBundleIconFile</key>
  <string>mia.icns</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
</dict>
</plist>
